<footer id="footer">
  <div class="wrapper">
    <div class="grid">
      <div class="col-8_xs-12">
      
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales ipsum dui, et faucibus elit convallis id. Pellentesque nisi nibh, accumsan et mollis viverra, pharetra eget metus. <a href="">Mauris vulputate dictum gravida.</a> Proin rutrum turpis sit amet ullamcorper pretium. Aenean accumsan sem vel justo fringilla posuere. Nullam facilisis metus id elit pellentesque tempor. Duis porttitor pharetra varius.</p>

      </div>      
      <div class="col-4_xs-12">
         <p>&copy;2018 AeroGear Project</p>
      </div>      
    </div>
  </div>
</footer>


