<footer id="footer">
  <div class="wrapper">

    <div class="grid">
      <div class="col-4_xs-6">
      <h4>Modules</h4>
      <ul>
        <li>AeroGear Push</li>
        <li>AeroGear Security</li>
        <li>AeroGear Sync</li>
        <li>AeroGear Digger</li>
      </ul>
      </div>

      <div class="col-4_xs-6">
        <h4>Platforms</h4>
        <ul>
          <li>Android</li>
          <li>Apple iOS</li>
          <li>Cordova</li>
          <li>Javascript / HTML5</li>
        </ul>
      </div>

      <div class="col-4_xs-6">
        <h4>Community</h4>
        <ul>
          <li>GitHub</li>
          <li>Issue Tracker</li>
          <li>Mailing Lists</li>
          <li>IRC / Chat</li>
        </ul>
      </div>

    </div>
    <div class="grid-center">
      <div class="col-4_xs-12">
        <p>&copy;2018 AeroGear Project</p>
      </div>      
    </div>

</footer>


