<footer id="footer">
  <div class="wrapper">

    <div class="grid">
      <div class="col-4_xs-6">
      <h4>Modules</h4>
      <ul>
        <li><a href="/push/"><i class="fa fa-paper-plane"></i> AeroGear Push</a></li>
        <li><a href="/security/"><i class="fa fa-shield"></i> AeroGear Security</a></li>
        <li><a href="/digger/"><i class="fa fa-cogs"></i> AeroGear Digger</a></li>
      </ul>
      </div>

      <div class="col-4_xs-6">
        <h4>Community</h4>
        <ul>
          <li><a href="https://github.com/aerogear/"><i class="fa fa-github-alt"></i> GitHub</a></li>
          <li><a href="https://aerogear.org/docs/planning/"><i class="fa fa-bug"></i> Issue Tracker</a></li>
          <li><a href="https://lists.jboss.org/mailman/listinfo/aerogear-dev"><i class="fa fa-envelope-square"></i> Developer Mailing List</a></li>
          <li><a href="irc://irc.freenode.net/aerogear"><i class="fa fa-comments"></i> IRC / Chat</a></li>
        </ul>
      </div>

      <div class="col-4_xs-6">
        <h4>Legal</h4>
        <div>&copy;2018 AeroGear Project</div>
        <small>
          <ul>
            <li>Android is a trademark of Google LLC.</li>
            <li>The Android robot is reproduced or modified from work created and shared by Google and used according to terms described in the <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons</a> 3.0 Attribution License.</li>
            <li>Cordova is a trademark of The Apache Software Foundation</li>
            <li>HTML5 Logo by <a href="http://www.w3.org/"><abbr title="World Wide Web Consortium">W3C</abbr></a>.</li>
          </ul>
       </small>
      </div>
    </div>

</footer>


